<nav class="navbar navbar-light bg-light border-bottom sticky-top">
  <div
    class="container-fluid justify-content-between align-items-center d-flex"
  >
    <!-- Left Section: Brand -->
    <div class="d-flex align-items-center">
      <a class="navbar-brand me-2" href="/listing">
        <i class="fa-regular fa-compass"></i>
      </a>
      <a class="nav-link" href="/listing" id="explore">Explore</a>
    </div>

    <!-- Center Section: Search Bar -->
    <div class="search-bar-container d-flex justify-content-center flex-grow-1">
      <form class="d-flex align-items-center" action="/search" method="GET">
        <input
          class="form-control"
          type="search"
          name="query"
          placeholder="Search Destination..."
        />
        <button class="btn btn-outline-danger ms-2" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>

    <!-- Right Section: Links & Auth Buttons -->
    <div class="d-flex align-items-center">
      <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

      <ul
        class="navbar-nav d-flex flex-row align-items-center ms-3"
        style="list-style: none; gap: 1rem; margin: 0"
      >
        <li>
          <p id="cross" style="text-decoration: underline; margin: 0">Back</p>
        </li>
        <li><a class="nav-link" href="/listing/new">Staynest your home</a></li>

        <% if (!currUser) { %>
        <li>
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
        </li>
        <li>
          <a class="nav-link" href="/login"><b>Login</b></a>
        </li>
        <% } %> <% if (currUser) { %>
        <li>
          <a class="nav-link" href="/logout"><b>Logout</b></a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
