<nav
  class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top"
  id="navbar"
>
  <a class="navbar-brand" href="/listing"
    ><i class="fa-regular fa-compass"></i
  ></a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/listing">Explore</a>
    </div>
  </div>

  <div class="search-bar ">
    <form class="d-flex " role="search">
      <input
        class="form-control"
        type="search"
        placeholder="Search Destination"
      />

      <button class="btn btn-outline-danger ms-1" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>Search
      </button>
    </form>
  </div>
  <button class="navbar-toggler" type="button">
    <div class="navbar-toggler-icon"></div>
  </button>

  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/listing/new">Staynest your home</a>
    <i class="fa-solid fa-globe" id="globe"></i>
    <% if(!currUser) { %>
    <a class="nav-item nav-link active" href="/signup"
      ><b>Sign Up </b><span class="sr-only">(current)</span></a
    >
    <a class="nav-item nav-link" href="/login"><b>Login</b></a>
    <% } %> <% if(currUser) { %>
    <a class="nav-item nav-link" href="/logout"><b>Logout</b></a>
    <% } %>
  </div>
</nav>

<script>
  let user = document.getElementsByClassName("user");
  for (user of user) {
    user.addEventListener("click", () => {});
  }

  let hamburger = document.getElementsByClassName("navbar-toggler");
  for (ham of hamburger) {
    ham.addEventListener("click", () => {
     
    });
  }
</script>
